VITE_WALLETCONNECT_PROJECT_ID=
VITE_CONTRACT_ADDRESS=
VITE_BACKEND_URL=http://localhost:4000
VITE_USE_TEST_AADHAAR=false
VITE_ANON_NULLIFIER_SEED=1234
VITE_ENABLE_UBER_PROVIDER=false
VITE_USE_MOCK_ZK=false
VITE_USE_ZK_SUBMISSION=false
VITE_ENABLE_MOCK_IDENTITY_BUTTON=false
